* {
    background-color: rgb(20, 11, 65);
    color: antiquewhite;
    /*border: 1px solid red;*/
}

.heading {
    text-align: center;
    padding: 30px;
    font-family: Tahoma, sans-serif

}
.content{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.menu{
    background-color: black;
    display: flex;
    align-items: center;
    margin-block-end: auto;
    width: 100%;
    overflow: hidden;
}
.icon {
    width: 80px;
    height: auto;
}
.menu a {
    background-color: black;
}
.menu_icon{
    background-color: black;
    margin-left: 40px;
    display:inline-block;
    padding: 30px;
    display:inline-block;
}